<div class="form-wrapper">
    <form class="formStyle" #form="ngForm" (ngSubmit)="onSubmit()">
        <h2>Recuperação de senha</h2>
        <span style="margin-bottom: 5rem;">Um email será enviado para você com o processo de redefinir senha</span>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Seu email" type="email" name="email" [(ngModel)]="email" required>
            <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="form.invalid" style="margin-top: 5rem;">Enviar</button>
    </form>
</div>